.quality-inspection-container {
  background-color: #000 !important;
  color: white;

  .rounded-4 {
    border-radius: 1.25rem !important;
  }

  .smaller {
    font-size: 0.75rem;
  }

  .animate-pulse {
    animation: pulse-red 1.5s infinite;
  }

  @keyframes pulse-red {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media (max-width: 768px) {
    overflow-y: auto !important;
    .vh-100 {
      height: auto !important;
      min-height: 100vh;
    }
    .row {
      margin-top: 1rem;
      flex-direction: column;
    }
    .col-md-7 {
      height: 50vh !important;
    }
    .col-md-5 {
      padding-top: 2rem;
    }
  }
}
