.demo-container {
  background-color: #000 !important;
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.demo-title {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 2em;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 10em;
}

.nav-link {
  text-decoration: none;
}

.clock-container {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
