.medical-container {
  background-color: #000 !important;
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.medical-title {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

.medical-desc {
  color: white;
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
}

.cards-wrapper-medical {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
  width: 90%;
  padding-bottom: 10em;
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.medical-logo {
  height: 80px !important;
}

.nav-link {
  text-decoration: none;
}

.modal-nav-link {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
}

.back-button-medical {
  position: absolute;
  top: 8px;
  left: 16px;
}

.close-icon-button {
  background: none !important;
  border: none !important;
  font-size: 2.6rem !important;
  padding: 8px !important;
  border-radius: 12px;
  color: white;
  &:hover {
    background-color: #222 !important;
    color: white;
  }
}
