.smartBuilding-container {
  background-color: #000 !important;
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.smartBuilding-title {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

.smartBuilding-desc {
  color: white;
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
}

.cards-wrapper-smartBuilding {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
  width: 90%;
  padding-bottom: 10em;
}

.smartBuilding-logo {
  height: 80px !important;
}

.nav-link {
  text-decoration: none;
}

.back-button-smart {
  position: absolute;
  top: 20px;
  left: 20px;
}
