.alarm-resolving-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: #000;
  color: #fff;
  z-index: 1000 !important;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;

  &.open {
    transform: translateX(0);
  }

  .close-button {
    position: absolute;
    top: 30px;
    left: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.6rem !important;
    cursor: pointer;
    z-index: 1100;
    &:hover {
      background-color: #222;
      color: white;
    }
  }

  .container-fluid {
    height: 100%;
  }

  .logo {
    height: 60px !important;
    width: auto !important;
  }

  .padlock-logo {
    height: 150px;
    width: auto;
  }

  .spinner {
    width: 114px;
    height: 114px;
    border-width: 6px;
  }

  .check-alarm-button {
    background-color: #e2e5f3;
    border: none;
    border-radius: 6px;
    color: #1a1a1a;
    font-size: 1.25rem;
    font-weight: 600;
    min-width: 300px;
    height: 52px;

    &:hover {
      background-color: #d1d5e8;
    }
  }
}
