.card-component {
  background-color: #111 !important;
  color: white !important;
  min-width: 400px !important;
  flex: 0 1 calc((100% - 2rem * 2) / 3);
  max-height: 500px;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  border: 1px rgba(255, 255, 255, 0.1) solid !important;
}

.card-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.card-icon-lg {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.7em !important;
}

@media (max-width: 1100px) {
  .card-component {
    flex: 0 1 calc(50% - 1rem);
  }
}

@media (max-width: 600px) {
  .card-component {
    flex: 0 1 100%;
    min-width: 300px !important;
  }
}
