.ecg-chart-card {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  min-height: 200px;
  background-color: #131313 !important;

  .card-header {
    border-bottom: none;
  }

  .usage-section {
    position: relative;
    
    .uplot-container {
        width: 100%;
        
        .uplot {
             /* uPlot canvas here */
        }
    }

    .dot {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: inline-block;
      &.dot-default {
          background-color: #00ff00; /* Default if not overridden */
      }
    }
  }
}
