.face-recognition-modal {
  .modal-dialog {
    max-width: 90%;

    .modal-content {
      min-height: 65vh;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
      background-color: #000000;
      color: #ffffff;
      font-family: Arial, sans-serif;
      border: 1px rgba(255, 255, 255, 0.1) solid;
    }
  }

  .modal-header-custom {
    border-bottom: none;

    .close-icon-button {
      background: none;
      border: none;
      font-size: 1.2rem !important;
      padding: 7px !important;
      border-radius: 12px;
      color: white;
      &:hover {
        background-color: #222;
        color: white;
      }
    }
  }

  .logo {
    height: 60px;
    width: auto;
  }

  .padlock-logo {
    height: 150px;
    width: auto;
  }
}
